@font-face {
	font-family: 'open_sanslight';
	src: url('../fonts/opensans-light_0.eot');
	src: url('../fonts/opensans-light_0.eot?#iefix') format('embedded-opentype'),  url('../fonts/opensans-light_0.woff2') format('woff2'),  url('../fonts/opensans-light_0.woff') format('woff'),  url('../fonts/opensans-light_0.ttf') format('truetype'),  url('../fonts/opensans-light_0.svg#open_sanslight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
@font-face {
	font-family: 'open_sanslight';
	src: url('../fonts/opensans-light_0.svg#open_sanslight') format('svg');
}
}
@font-face {
	font-family: 'open_sansbold';
	src: url('../opensans-bold_0.eot');
	src: url('../opensans-bold_0.eot?#iefix') format('embedded-opentype'),  url('../opensans-bold_0.woff2') format('woff2'),  url('../opensans-bold_0.woff') format('woff'),  url('../opensans-bold_0.ttf') format('truetype'),  url('../opensans-bold_0.svg#open_sansbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
@font-face {
	font-family: 'open_sansbold';
	src: url('../opensans-bold_0.svg#open_sansbold') format('svg');
}
}


@font-face {
    font-family: 'alegreya_sans_scregular';
    src: url('../fonts/alegreyasanssc-regular.eot');
    src: url('../fonts/alegreyasanssc-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alegreyasanssc-regular.woff') format('woff'),
         url('../fonts/alegreyasanssc-regular.ttf') format('truetype'),
         url('../fonts/alegreyasanssc-regular.svg#alegreya_sans_scregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'alegreya_sans_scregular';
      src: url('../fonts/alegreyasanssc-regular.svg#alegreya_sans_scregular') format('svg');
  }
}



@font-face {
    font-family: 'colaborate-thinregular';
    src: url('../fonts/colabthi-webfont.eot');
    src: url('../fonts/colabthi-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/colabthi-webfont.woff') format('woff'),
         url('../fonts/colabthi-webfont.ttf') format('truetype'),
		 url('../fonts/colabthi-webfont.svg#colaborate-thinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
      font-family: 'colaborate-thinregular';
      src: url('../fonts/colabthi-webfont.svg#colaborate-thinregular') format('svg');
  }
}




body {
	margin: 0px;
	padding: 0px;
	color: #555555; font-family: 'Open Sans', sans-serif;
}

a:hover{ text-decoration:none;}
@media(min-width:767px) {
.navbar {
	padding: 20px 0;
	-webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
	-moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
	transition: background .5s ease-in-out, padding .5s ease-in-out;
}
.top-nav-collapse {
	padding: 0;
}
}

.navbar-default .navbar-nav > li > a{ color:#000;}
/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children 
of those sections to manage the look and feel of the site. */

.Intro-section {
	height: 100%;
	padding:180px 0 0 0;
	text-align: center; 
	background: url(../img/header-bg.png) top center no-repeat #3962a6;
	
}

.download-icon{background-color:#404040; color:#FFF; float:right; padding:10px 20px; position:absolute; font-size:25px !important; border-bottom-right-radius:7px; border-top-right-radius:7px; top:0; right:-5px; cursor:pointer;  }

 .top-nav-collapse  .navbar-brand img{ height:35px; margin-top:10px;}

.HowItWorks-section {
	height: 100%;
	padding: 100px 0;
	text-align: center;
	background: #f1f1f1;
}
.HowItWorks-section h4 {
	font-family: 'open_sanslight';
	font-weight: 400;
	font-size: 50px;
	margin: 0;
	padding: 0;
	text-align: center;
}

.HowItWorks-section h4 span{ font-family: 'Open Sans', sans-serif;}
.heading {
font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	text-align: left;
	color:#000;
}
.HowItWorks-section p {
	padding: 20px 0;
	text-align: justify;
	line-height: 30px;
}
.Downloads-section {
	height: 100%;
	clear:both;
	padding: 130px 0 130px 0;
	text-align: center;
	background-color:#2b5464;
	
}
.Downloads-section h3 {
font-family: 'open_sanslight';
	font-size: 50px;
	color: #fff;
	margin: 0;
	padding: 0;
	text-align: center;
}

.Downloads-section h3 span{font-family: 'Open Sans', sans-serif;}
.Downloads-section p {
	font-family: 'open_sanslight';
	font-weight: 300;
	font-size: 24px;
	color: #fff;
	margin: 0;
	padding: 50px 0;
	text-align: center;
}
.About-section {
	height: 100%;
	padding-top: 100px 0;
	text-align: center;
	background: #ffffff;
}
.Blog-section {
	height: 100%;
	padding: 100px 0;
	text-align: center;
	background: #fff;
}
.Blog-section h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 50px;
	color: #404040;
	margin: 0 0 50px 0;
	padding: 0;
	text-align: center;
}
.Blog-section h5 span {
	font-family: 'open_sanslight';
}
.latest-blog {
	border: solid 1px #dcd8d8;
	border-radius: 7px;
	font-size: 16px;
	text-align: left;
	padding: 10px;
}



.latest-blog:hover{ background-color:#f8f7f7; text-decoration:none;}

.latest-blog:hover p{ background-color:#f8f7f7;}

.date {
	background-color: #3962a6;
	text-align: center;
	padding: 10px;
	font-size: 11px;
	color: #FFF;
}
.latest-blog p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	font-style: italic;
	color: #bdbdbd;
	padding: 20px 0;
	line-height: 25px;
	border-bottom: solid 4px #dcd8d8;
}
.SocialNetworks-section {
	height: 100%; padding:100px 0;
	text-align: center;
	background: #f1f1f1;
}

.SocialNetworks-section .heading{ 	
    font-family: 'open_sanslight';
	font-weight: 400;
	font-size: 50px;
	color: #404040;
	margin: 0 0 50px 0;
	padding: 0;
	text-align: center;
}

.SocialNetworks-section .heading span{ font-family: "Open Sans",sans-serif;
    font-size: 50px;
    font-weight: 400;}

.facebook, .twitter, .linkedin, .youtube{ font-size:14px; background-color:#3b5998; text-align:left; color:#FFF; border-radius:5px; padding:15px; height:120px;}

.twitter{ background-color:#00acee;}
.linkedin{ background-color:#006699;}
.youtube{ background-color:#dd4b39;}

	
.facebook .heading,  .twitter .heading,  .linkedin .heading, .youtube .heading { font-size:20px; font-weight:bold; color:#FFF; padding:0px; margin:0px; text-align:left; }


.facebook i, .twitter i, .linkedin i, .youtube i { font-size:60px; padding:10px 0 0 0;}



.name {
	text-align: right;
	font-family: 16px;
	color: #97a9c2;
}
.arrow-bottom {
	position: relative;
	background-color: #fff;
	color: #dcd8d8;
	bottom: -10px;
	font-size: 70px;
	left: 30px;
	background: url(../img/arrow.png) no-repeat;
	height: 17px;
	width: 31px;
	float: left;
}
.btn-section {
	width: 630px;
	max-width: 100%;
	margin: auto;
}
.btn-download {
	margin: 0 auto 10px auto;
	width: 300px;

	
}
.btn-download a {
	float: left;
	background-color: #7fba00;
	width: 300px;
	border-radius: 40px;

	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	color: #fff;
}
.btn-download span {
	float: left;
	padding: 5px 15px 0 30px;
}
.btn-download p {
	float: left;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #FFF;
	clear: both;
	padding: 0 10px 10px 30px;
}
.btn-download a:hover {
	cursor: pointer;
	background-color: #7fba00;
	box-shadow: inset 3px 3px 16px #6b9d00;
	transition: background .65s ease-in-out;
 -webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-ms-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	transition: background 0.5s linear;
	box-shadow: inset 3px 3px 16px #6b9d00;
}
.download-text {
	float: left;
	height:75px;
}

#Technologies-part{}

.btn-download i {
	float: right;
	padding: 23px;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
	background-color: #404040;
	color: #FFF;
	font-size: 30px;
	
	height:75px;
}
.navbar-brand {
	padding-top: 0px;
}
.btn-RequestDemo {
	width: 300px;
	margin: auto;
}
.btn-RequestDemo a {
	border: 2px solid #fff;
	border-radius: 40px;
	color: #fff;
	float: right;
	font-size: 30px;
	padding: 15px 0;
	text-align: center;
	text-decoration: none;
	width: 300px;
}
.btn-RequestDemo a:hover {
	color: #fff;
	background-color: #f99b16;
	-webkit-transition: background 0.5s linear;
	-moz-transition: background 0.5s linear;
	-ms-transition: background 0.5s linear;
	-o-transition: background 0.5s linear;
	transition: background 0.5s linear;
	border: 2px solid #df880c;
	box-shadow: inset 3px 3px 16px #df880c;
}
.margin-bottom {
	margin-bottom: 15px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { 
	background-color: #f99b16 !important;
	color: #FFF;
}
.navbar-nav > li > a{ font-size:13px;}
#DevOps-tools {
	padding: 150px 0; 
	background: url(../img/img-dotted.png) repeat;
}
#DevOps-tools h2 {
	margin: 0 0 30px 0;
	line-height: 50px;
	font-family: 'open_sanslight';
	font-size: 36px;
	text-align: center;
}
#DevOps-tools h2 span {
	font-family: 'Open Sans', sans-serif;
}
.vagrant { width: 240px; margin:auto; 
	
}
.vagrant a {
	float: right;
	background: url(../img/tools-logo.png) no-repeat left top;
	width: 240px;
	height: 70px;
	cursor: default;
}
.vagrant a:hover {
	background-position: bottom left;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}
.Puppet {
	margin: auto; 
	width: 240px;
}
.Puppet a {
	cursor: default;
	float: right;
	background: url(../img/tools-logo.png) no-repeat -286px top;
	width: 240px;
	height: 70px;
}
.Puppet a:hover {
	background-position: -286px bottom;
}
.docker {
	margin: auto;  	width: 265px;
}
.docker a {
	cursor: default;
	float: left;
	background: url(../img/tools-logo.png) no-repeat -585px top;
	width: 265px;
	height: 70px;
}
.docker a:hover {
	background-position: -585px bottom;
}
#Technologies {
	background-color: #f1f1f1;
	padding: 20px 0 20px 0;
	text-align: left;
}
#Technologies h6 {
	font-size: 20px;
	font-family: 'open_sanslight';
	text-align: center;
}
#Technologies h6 span {
		font-family: 'Open Sans', sans-serif;
}


.button-position{ width:480px; margin:auto; max-width:100%;}
.Technologies-section{}
.Newsletter-section{ 	font-family: 'open_sanslight'; background-color:#f89910; padding:100px 0; font-size:30px; color:#FFF; text-align:center; font-weight:bold;}

.Newsletter-section p{ font-size:40px; color:#FFF; text-align:center; font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight:bold; text-transform:uppercase;}

.Newsletter-section .form-control::-moz-placeholder{color:#4a4a4a;opacity:1}
.Newsletter-section .form-control:-ms-input-placeholder{color:#4a4a4a;}
.Newsletter-section .form-control::-webkit-input-placeholder{color:#4a4a4a;}
.bootom{ background-color:#1d1d1d; padding:30px 0 0 0;}

ul.link{ margin:0px 0 30px 0; padding:0px; width:300px;}
ul.link li{ margin:0px; line-height:25px; padding:0px; font-size:13px;  display:block;}
ul.link li a{ color:#a9adb0;}
ul.link li a:hover{ color:#FFF;}



.offices address {
    color: #7f8c8c;
    font-size: 13px;
    padding: 0 0 0px 0; line-height:25px;
}
.offices address p {
    display: inline-table;
}

.offices span.phone {
    color: #7f8c8c;
    display: block;
    font-size: 13px;
    line-height: 25px;
    width: 100%;
}



.offices span.email {
    color: #7f8c8c;
    display: block;
    font-size: 13px;
    line-height: 25px;
    width: 100%;
}
.boxupp-logo{ float:right;}

.copyright-section{ font-size:13px; background-color:#000000; color:#a9adb0; padding:10px 0; margin:30px 0 0 0;}

.newsletter input{ border-radius:7px;  background-color:#fff; height:50px; 
color:#000 !important; border: solid 1px #fff; font-size:17px; }
.newsletter input:focus{ border: solid 1px #fff; color:#FFF; }
.color{ color:#FFF!important;}



.newsletter input.btn-subscribe{ padding:6px 30px; background-color:#1d1d1d !important; color:#FFF !important; border:none;}
.newsletter input.btn-subscribe:focus{ outline:none;}


      .carousel {
        overflow: hidden;
		height:300px;
      }
      .carousel .item {
        -webkit-transition: opacity 0.5s;
        -moz-transition: opacity 0.5s;
        -ms-transition: opacity 0.5s;
        -o-transition: opacity 0.5s;
        transition: opacity 0.5s;
      }
      .carousel .active.left, .carousel .active.right {
        left:0;
        opacity:0;
        z-index:2;
      }
      .carousel .next, .carousel .prev {
        left:0;
        opacity:1;
        z-index:1;
      }
.carousel-inner{ margin:40px 0 0 0; }	  
.carousel-inner  p{ font-size:30px; height:300px; color:#FFF;}
.carousel-inner p span{ font-family: 'open_sanslight';}
	   
 .btn-Virtual-Machine,  .btn-Linux-Container { cursor:pointer; width:245px;  font-size:15px; margin:auto; border:solid 2px; color:#FFF; padding:10px; border-radius:7px;}
 .btn-Virtual-Machine a, .btn-Linux-Container a{ color:#FFF; text-decoration:none;}	   .btn-Linux-Container{ background-color:#7fba00;  border:solid 2px #7fba00 ;}
 
 .btn-Linux-Container a{ color:#FFF; text-decoration:none; position:relative; left:-30px;}	
 
 
 .btn-Virtual-Machine a:hover, .btn-Linux-Container a:hover{  }		   
 .btn-Virtual-Machine:hover{  background-color:#658fd4;  border:solid 2px; color:#658fd4;   transition: background .65s ease-in-out;
   -moz-transition: background .65s ease-in-out;
   -webkit-transition: background .65s ease-in-out; }
   
   .btn-Linux-Container:hover{  background-color:#6b9d00;  border:solid 2px #6b9d00; color:#658fd4;   transition: background .65s ease-in-out;
   -moz-transition: background .65s ease-in-out;
   -webkit-transition: background .65s ease-in-out; }

   
   
   
   
   
.btn-More-Video{   background-color:#658fd4;    transition: background .65s ease-in-out;
   -moz-transition: background .65s ease-in-out;
   -webkit-transition: background .65s ease-in-out;
   width:200px; font-size:15px; margin:20px auto 20px auto;
   color:#FFF; padding:10px; border-radius:7px;}
   .btn-More-Video a{ color:#FFF; text-decoration:none;} 
   .btn-More-Video:hover{ background-color:#0a2a5e;  color:#658fd4;   transition: background .65s ease-in-out;
   -moz-transition: background .65s ease-in-out;
   -webkit-transition: background .65s ease-in-out;}
   

.Quick-Walkthrough{ width:1000px; max-width:100%; padding-top:20px;}
.Technologies-logo{  max-width:100%; margin: auto; text-align:center;}

.Technologies-logo ul{ margin:0px; padding:0px;}
.Technologies-logo ul li{ margin:0px; text-align:center;  list-style:none; display:inline; padding:0 10px;} 

.video{height: auto;
    line-height: 1.42857;
    max-width: 100%;}
	
	
	
	


.btn-demo { height:20px;  
	-moz-box-shadow:inset 0px 1px 0px 0px #fcc272;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fcc272;
	box-shadow:inset 0px 1px 0px 0px #fcc272;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fbb149), color-stop(1, #f8950a));
	background:-moz-linear-gradient(top, #fbb149 5%, #f8950a 100%);
	background:-webkit-linear-gradient(top, #fbb149 5%, #f8950a 100%);
	background:-o-linear-gradient(top, #fbb149 5%, #f8950a 100%);
	background:-ms-linear-gradient(top, #fbb149 5%, #f8950a 100%);
	background:linear-gradient(to bottom, #fbb149 5%, #f8950a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb149', endColorstr='#f8950a',GradientType=0);
	background-color:#fbb149;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #e1962d;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	margin:0px 0 0 10px;
	padding:0px 24px; line-height:20px;
	text-decoration:none;  margin-top:9px; 

}
.btn-demo a{ color:#FFF !important;}
.btn-demo span{top:-10px; position:relative; color:#FFF;}
.btn-demo:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f8950a), color-stop(1, #fbb149));
	background:-moz-linear-gradient(top, #f8950a 5%, #fbb149 100%);
	background:-webkit-linear-gradient(top, #f8950a 5%, #fbb149 100%);
	background:-o-linear-gradient(top, #f8950a 5%, #fbb149 100%);
	background:-ms-linear-gradient(top, #f8950a 5%, #fbb149 100%);
	background:linear-gradient(to bottom, #f8950a 5%, #fbb149 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8950a', endColorstr='#fbb149',GradientType=0);
	background-color:#f8950a;
}
.btn-demo:active {
	position:relative;
	top:1px;
}
.nav > li > a{ padding:15px 10px;}

.dropdown-menu{ padding:0px 0px; }
.navbar-nav li .dropdown-menu li:last-child a:hover{border-bottom-right-radius:3px; border-bottom-left-radius:3px;}
.navbar-nav li.dropdown{ cursor:pointer;}
.navbar-nav li .dropdown-menu{ font-size:12px;}
.navbar-nav li .dropdown-menu li a:hover{ background-color:#f99b16; color:#FFF;}

 .dropdown-toggle ul{ background-color:#f99b16 !important; color:#FFF !important;}
  
.ContainorInner{width:900px !important; max-width:90%;} 

.icon-download{ position:absolute; width:50px; background-color:#000;}


.containor-linter{ padding:100px 0; width:1070px; max-width:90%; margin:0px auto 70px auto; float:none;}

.containor-linter h3{ margin:20px 0;  color: #4a4a4a;
    font-family: 'colaborate-thinregular';
    font-size: 30px;
    text-align:left;}
	
.containor-linter h4{margin:20px 0;  color: #4a4a4a;
    font-family: 'colaborate-thinregular';
    font-size: 22px;
    text-align:center;
	line-height:30px;}	

.ValidationAssistant{ padding:0px;  }

.ValidationAssistant .heading{ background-color:#325da3;  color: #fff;
    font-family: 'alegreya_sans_scregular';
    font-size: 17px;
	padding:10px 15px;
	height:60px;
	line-height:22px;
	
	
	
    margin: 0;}


.ValidationAssistant ul{ padding:0px 10px; margin:0 0 20px 0;  }
.ValidationAssistant ul li{ padding:0 0 0 25px; margin:10px 0; display:block; list-style:none; line-height:19px;
background:url(../img/arrow1.png) no-repeat 0 2px;
font-size:12px;
}

 
 
 
 


.myButton { margin-top:20px;
	-moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
	-webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
	box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
	background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
	background-color:#74ad5a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:17px !important;
	padding:6px 16px !important;
	text-decoration:none;
	 width:230px !important;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
	background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
	background-color:#68a54b;
}
.myButton:active {
	position:relative;
	top:1px;
}



div.ValidationAssistant.well{ padding:5px !important;}









.boxupp-download-btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff !important;
	font-family:arial;
	font-size:13px;
	padding:11px 24px;
	text-decoration:none !important;
	text-shadow:0px 1px 0px #154682;
}
.boxupp-download-btn :hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;  text-decoration:none !important;
}
.boxupp-download-btn :active {
	position:relative;
	top:1px;
}


.btn-position{ text-align:center;}





.modal-header .close { margin-right:10px;}

#validator h4{ text-align:left !important; margin:0px!important;} 

.ValidationAssistant  .modal-dialog { padding-top:90px;}
.Validate-btn{   text-align:right; padding:5px 10px !important; }

.modal-header { color:#FFF; background-color:#255096;}
.modal-header p{ color:#FFF; padding:10px 0 0 0;}

#validator textarea{ height:200px !important;}


#OurTeam-section{padding: 100px 0; 
	background: url(../img/img-dotted.png) repeat;}
	
.OurTeam{ }
.OurTeam h1{ font-family: 'open_sanslight';
	font-size: 50px;
	margin: 0;
	padding: 0;
	text-align: center;}
	
	.OurTeam h1 span{ font-weight:bold;}
.OurTeam h2{ text-align:center;}

.Profile{ width:320px; max-width:100%; margin: 100px auto; text-align:center; font-size:12px; line-height:22px;}

.Profile .name{ font-size:14px; color:#000; padding:30px 0;}

  
@media(min-width:320px) and (max-width:767px) {ul.link{ width:300px; margin:auto;} 
.offices address{ width:300px; margin: 30px auto 0 auto;} .offices span.phone{ width:300px; margin:auto;} .offices span.email{ width:300px; margin:auto;} .boxupp-logo{ float:none; text-align:center; margin-top:30px;}  .carousel{ height:400px;} .btn-Virtual-Machine,  .btn-Linux-Container{ margin:auto; float:none;} .btn-demo { background-color:#1f4d99 !important; background:none; border:none; box-shadow:none; border-radius:0px; height:30px;} .btn-demo span{ top:-6px;} .Technologies-logo ul li{ width:100%; display:block; padding:20px 0;}

.DisplayNone{ display:none;}}
 
 
@media(min-width:768px) and (max-width:990px) { .navbar-nav{ border:solid 1px #CCC; padding:0 10px; background-color:#f4f3f4;}}

