<header class="navbar-fixed-top">
  <section class="top-bar" id="jquery-script-menu">
    <div class="container-fluid"> 
    	<a href="mailto:info@boxupp.com" class="pull-left call"><i class="fa fa-envelope"></i>info@boxupp.com</a>
      <ul class="social-icon">
        <li><a href="http://facebook.com/Boxupp" target="_blank" class="facebook-icon"><i class="fa fa-facebook"></i></a></li>
        <li><a href="http://twitter.com/Boxupp" target="_blank" class="twitter-icon"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/company/3768272?trk=tyah&trkInfo=tarId%3A1403083871999%2Ctas%3Aboxupp%2Cidx%3A1-1-1" class="linkedin-icon" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCO4YPFoRuc9Fjl1-2nkfoyw" target="_blank" class="youtube-icon"><i class="fa fa-youtube"></i></a></li>
        <li><a href="https://github.com/BoxUpp/boxupp" class="github-icon" target="_blank"><i class="fa fa-github"></i></a></li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </section>
  
  <!-- Navigation -->
  <nav class="navbar navbar-default "  role="navigation">
    <div class="container-fluid">
      <div class="navbar-header  page-scroll">
        <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle" type="button"> <span class="sr-only"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a href="http://boxupp.com/" class="navbar-brand page-scroll" target="_blank"><img title="boxupp" alt="logo" src="img/logo.png" class="logo-img"></a> </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse navbar-right">
        <ul class="nav navbar-nav ">
          <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
          
          <li> <a href="http://boxupp.com/#why" class="page-scroll" target="_blank">Why Boxupp</a> </li>
          <li> <a href="http://boxupp.com/#overview" class="page-scroll" target="_blank">Features</a> </li>
          <li> <a href="http://boxupp.com/#started" class="page-scroll" target="_blank">Get Started</a> </li>
          <li> <a href="http://boxupp.com/#developers" class="page-scroll" target="_blank">Developers</a> </li>
          <li> <a href="http://boxupp.com/#blog" class="page-scroll" target="_blank">Blog</a> </li>
          <li> <a title="Case Studies" href="http://boxupp.com/case-studies.html" class="page-scroll" target="_blank"> Case Studies</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse --> 
    </div>
    <!-- /.container --> 
  </nav>
</header>
